.Navcontainer {
  background-color: rgb(187, 133, 194) !important;
  padding-left: 3rem;
  position: absolute;
}

.Payee-Card {
  margin-top: 4rem;
  width: 20rem;
}

.attention-payment {
  width: 18rem;
}

.remittance-cards {
  width: 25rem;
}

.details-view {
  display: flex;
  border: 2px solid red;

  flex-wrap:wrap;
}

/* Both of the following below are required for text-overflow */
/* p {
  
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
} */

.details-view-element {
  display: flex;
  
  flex-wrap: wrap;
  margin-right: 7rem;
  margin-left: 1rem;
  height: 16rem;
  
  white-space: nowrap;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  ;
}

.details-view-element p {
  margin: 0%;
  height: .5px;
  line-height: 2px;
}

.remittance-column {
  min-width: 2rem;
}

.detail-column {
  width: 150px;
}

.k-grid-header thead > tr:not(:only-child) > th {
  width: 150px;
}